# Frames of the delivered C1679-1687 composites: they contain the Pexels/Pixabay burn footage (see ../LICENSES.md).
# Footage stays out of the public repo; source.json pins each file by SHA-256. Copy them in locally to render.
*.jpg
